.malafat-file-content {
    border-style:solid;
    border-width:1px;
    border-color:lightgrey;
    width:100%;
    margin-left:20px
}

.malafat-file-content-textarea {
    width:100%;
    height:100%;
    font-size: inherit;
    font-family: Inconsolata, monospace !important;
    border: none
}

.malafat-file-tree {
    font-family: Inconsolata, monospace !important;
    max-width: 30%;
    border-style:solid;
    border-width:1px;
    border-color:lightgrey;
}

.malafat-file-tree li {
    list-style-type: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
    supported by Chrome and Opera */

    white-space: nowrap;
}

.malafat-file-tree > ul {
    margin-left:0px;
    padding-left:0px;
    margin-top:0px;
}

.malafat-file-tree li span {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}

.malafat-file-tree li i {
    cursor: pointer;
}

.malafat-file-tree li span:hover {
    background-color: lightgrey;
    color: white;
}
.malafat-file-tree li span.selected {
    background-color: grey;
    color: white;
}

.malafat-file-tree li > .hidden-file {
    opacity : 0.7 ;
}

.malafat-file-tree li i.green { color: #51cf66 ;}
.malafat-file-tree li i.blue { color: #339af0;}
.malafat-file-tree li i.red { color:  #ff6b6b;}
.malafat-file-tree li i.orange { color: #ff922b;}
.malafat-file-tree li i.darkgreen { color : #20c997;}
.malafat-file-tree li i.purple { color: #845ef7;}
.malafat-file-tree li i.pink { color: #f06595;}


